{% extends 'base.html.twig' %}

{% block body %}
	<div class="bg-light p-5 rounded text-center">
		<hr>
		<h1 class="mt-3">Liste des articles</h1>
		<hr>
			<div class="bg-light p-5 rounded">

				<a href="{{ path('add_article') }}" class="btn btn-success">Ajouter un article</a>
				<div class="row">
					<table class="table table-striped">
						<thead>
							<th>Titre</th>
						</thead>
						<tbody>
							{% for article in articles %}
								<tr>
									<th>{{article.title}}</th>
									<th>
										<a href="{{ path('show_article', {'slug': article.slug}) }}" class="btn btn-primary">Voir</a>
										<a href="{{ path('edit_article', {'slug': article.slug}) }}" class="btn btn-success">Modifier</a>
										<a href="{{ path('delete_article', {'slug': article.slug}) }}" class="btn btn-danger">Supprimer</a>
									</th>
								</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		<hr>
	</div>
{% endblock %}
