{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter un article{% endblock %}

{% block body %}

    <div class="container">
        <main>
            <h1>Modifier l'article {{ article.title }}</h1>
            <div class="form-container">
                {{ form_start(form) }}
                {% if article.photo is not empty  %}
                    <img class="article-edit-img" src="{{ asset(image_dir ~  article.photo) }}" alt="{{ article.title }}" />
                {% endif %}
                <div class="multiple-field-container">
                    <div class="form-group">
                        <label class="form-label" for="titre">
                            Titre
                        </label>
                        <input class="form-control" type="text" name="titre" id="titre" value="{{ article.title }}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="slug">
                            Titre
                        </label>
                        <input class="form-control" type="text" name="slug" id="slug" value="{{ article.slug }}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.introduction, 'Introduction', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.introduction, {'attr': {'placeholder': 'Introduction', 'class': 'form-control'}}) }}
                    {{ form_errors(form.introduction) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.content, 'Contenu', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.content, {'attr': { 'class': 'form-control'}}) }}
                    {{ form_errors(form.introduction) }}
                </div>
                <button type="submit" class="btn btn-action">Modifier</button>
                {{ form_end(form) }}
            </div>

        </main>
    </div>


{% endblock %}
