{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<div class="wrapper list">
    <h1>Liste des articles :</h1>
    
    {% for art in articles %}
        <article>
            <div class="list__item">
                <h2>{{art.title}}</h2>
                <a href="{{path('app_articles_show', {id: art.id})}}">Voir l'article</a>
                <a href="{{path('app_articles_update', {id: art.id})}}">Modifier</a>
                <a href='#' onclick="deleteArticle()">Supprimer</a>
            </div>
        </article>

        <form id="article-delete-form" action="{{path('app_articles_delete', {id: art.id})}}" method="post" style="display : none">
            <input type="hidden" name="csrf_token" value={{csrf_token("artDelete_" ~ art.id)}} />
            <input type="hidden" name="_method" value="DELETE" />
        </form>
        
        <script>
        function deleteArticle(){
            event.preventDefault();
            confirm("Voulez-vous supprimer cet article ?") && document.getElementById('article-delete-form').submit();
        }
    </script>
    {% endfor %}
</div>
{% endblock %}
