{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <a class="float-end mt-3 mt-lg-4 btn btn-primary" href="{{ path('article_new') }}">Ajouter</a>
            <h1 class="my-3">Articles</h1>
            {% if articles|length > 0 %}
                <div class="clear list-group w-auto">
                {% for article in articles %}
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="d-none d-md-flex align-items-center">
                            <a href="{{ path('article_show', {'slug': article.slug}) }}">
                                {% if article.photo is null %}
                                <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" class="flex-shrink-0" width="75" height="75">
                                {% else %}
                                <img src="{{ asset('images/photos/' ~ article.photo) | imagine_filter('square') }}" alt="{{ article.title }}" class="flex-shrink-0" width="75" height="75">
                                {% endif %}
                            </a>
                        </div>
                        <div class="mx-3 w-100">
                            <h6 class="mb-1 fs-4 fw-light">{{ article.title }}</h6>
                        </div>
                        <div class="d-grid gap-1">
                            <a class="btn btn-sm btn-primary" href="{{ path('article_show', {'slug': article.slug}) }}">Lire</a>
                            <a class="btn btn-sm btn-primary" href="{{ path('article_edit', {'slug': article.slug}) }}">Modifier</a>
                            {{ include('article/_delete_form.html.twig') }}
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <p class="text-center text-danger">Aucun article.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
