{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <section id="main" class="main d-flex flex-lg-row flex-sm-column">
        <div class="container">
            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="" width="100%">
            <h1>
                {{ article.title }}
            </h1>
            <p>
                {{ article.content }}
            </p>
        </div>
        <div class="container">
            {% for aside_article in aside_articles  %}
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="{{ vich_uploader_asset(aside_article, 'imageFile') }}" alt="" width="100%">
                <div class="card-header">{{ aside_article.title }}</div>
                <div class="card-body">
                    <p class="card-text">{{ aside_article.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
