{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="article-title">{{ article.title }}</h1>
        <div class="article-container">
            <main>
                {% if article.photo is empty  %}
                    <img class="article-img" src="{{ asset(image_dir ~  'default.png') }}" alt="{{ article.title }}" />
                {% else %}
                    <img class="article-img" src="{{ asset(image_dir ~  article.photo) }}" alt="{{ article.title }}" />
                {% endif %}
                <p class="article-introduction">{{ article.introduction }}</p>
                <p class="article-content">{{ article.content }}</p>
            </main>
            <aside>
                <h2>Consulter d'autres articles</h2>
                <ul class="see-more-list">
                    {% for articleSeeMore in articlesSeeMore %}
                    <li class="see-more-list-item">
                        {% if articleSeeMore.photo is empty  %}
                            <img class="article-img-see-more" src="{{ asset(image_dir ~  'default.png') }}" alt="{{ articleSeeMore.title }}" />
                        {% else %}
                            <img class="article-img-see-more" src="{{ asset(image_dir ~  articleSeeMore.photo) }}" alt="{{ articleSeeMore.title }}" />
                        {% endif %}
                        <div class="see-more-content">
                            <h3>{{ articleSeeMore.title }}</h3>
                            <p>{{ articleSeeMore.introduction|u.truncate(120, '...') }}</p>
                            <a class="btn btn-action btn-see-more" href="{{ path('show_article', {slug: articleSeeMore.slug}) }}">
                                Consulter
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
        </div>
    </div>


{% endblock %}
